<div layout="column">
	<md-card>
	    <img src="http://lorempixel.com/g/600/200/" class="md-card-image">
	    <md-card-title>
	        <md-card-title-text>
	            <span class="md-headline">{{product.name}}</span>
	        </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	        {{product.price | currency:"$"}}
	    </md-card-content>
	    <md-card-actions layout="row" layout-align="end center" ng-click="addToCart()">
	        <md-button>Add to Cart</md-button>
	    </md-card-actions>
	</md-card>
</div>
<!-- <div class="tabsdemoStaticTabs">
    <md-content>
        <md-tabs class="md-accent storeQuestions" md-selected="data.selectedIndex" md-align-tabs="top">
            <md-tab ng-repeat="question in storeInfo.questions" id="tab1">
                <md-tab-label>Question {{$index+1}}</md-tab-label>
                <md-tab-body>
                    <div layout-align="center" layout="row">
                        <h2>{{question.text}}</h2>
                    </div>
                    <br>
                    <div layout-align="center" layout="row">
                        <md-button ng-click="selectAnswer(question,answer)" ng-class="{'md-warn' : answer.selected}" ng-repeat="answer in question.answers">{{answer.text}}</md-button>
                    </div>
                    <br>
                    <div layout-align="center" layout="row">
                        <div ng-hide="$first" layout="column">
                            <md-button ng-click="previous()">
                                Previous
                            </md-button>
                        </div>
                        <div ng-hide="$last" layout="column">
                            <md-button ng-click="next()">
                                Next
                            </md-button>
                        </div>
                        <div ng-show="$last" layout="column">
                            <md-button ng-click="submitAnswers()">
                                Submit
                            </md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div> -->