<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Admin Nav</h1>
    </md-toolbar>
    <md-content layout-padding >
        <md-button ng-click="toAdmin()" class="md-primary">
            Stores
        </md-button>
        <br>
        <md-button ng-click="toOrders()" class="md-primary">
            Orders
        </md-button>
        <br>
        <md-button ng-click="toProducts()" class="md-primary">
            Products
        </md-button>
        <br>
        <md-button ng-click="toUsers()" class="md-primary">
            Users
        </md-button>
        <br>
        <md-button ng-click="toggleLeft()" class="md-primary">
            Close
        </md-button>
    </md-content>
</md-sidenav>
