<admin-nav></admin-nav>
<canvas id="myChart"></canvas>
<md-content flex>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
            <div class="md-toolbar-tools">
                <span>Orders</span>
                <div flex></div>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select="true" ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="id"><span>Order Id</span></th>
                        <th md-column md-order-by="totalPrice"><span>Total</span></th>
                        <th md-column md-order-by="date"><span>Date</span></th>
                        <th md-column md-order-by="contents.length"><span>Products</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="order" ng-repeat="order in orders | filter: filter.search | orderBy: query.order">
                        <td md-cell>{{order._id}}</td>
                        <td md-cell>{{order.totalPrice}}</td>
                        <td md-cell>{{order.date | date: "medium"}}</td>
                        <td md-cell>{{order.contents.length}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    <div flex></div>
</md-content>