<section layout="row" flex>
	<admin-nav></admin-nav>
    <md-content flex style="background-color: white">
	    <md-card>
	        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
	            <div class="md-toolbar-tools">
	                <span>Stores</span>
	                <div flex></div>
	            </div>
	        </md-toolbar>
	        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
	            <div class="md-toolbar-tools">
	                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
	            </div>
	        </md-toolbar>
	        <md-table-container >
	            <table md-table md-row-select="true" ng-model="selected" md-progress="promise">
	                <thead md-head md-order="query.order" md-on-reorder="logOrder">
	                    <tr md-row>
	                    	<th md-column md-order-by="name"><span>Name</span></th>
	                        <th md-column md-order-by="url"><span>Url</span></th>
	                        <th md-column md-order-by="orders"><span>Orders</span></th>
	                        <th md-column md-order-by="prodcuts" md-desc><span>Products</span></th>
	                        <th md-column md-order-by="status"><span>Status</span></th>
	                    </tr>
	                </thead>
	                <tbody md-body>
	                    <tr md-row md-select="store" ng-repeat="store in stores | filter: filter.search | orderBy: query.order">
	                    	<td md-cell>{{store.name}}</td>
	                        <td md-cell>{{store.url}}</td>
	                        <td md-cell>{{store.orders.length}}</td>
	                    	<td md-cell>{{store.products.length}}</td>
	                    	<td md-cell>
			                    <md-switch ng-model="store.active" ng-change="updateStoreStatus(store)" aria-label="active"></md-switch>
							</td>
	                    </tr>
	                </tbody>
	            </table>
	        </md-table-container>
	    </md-card>
	    <div flex></div>
	</md-content>
</section>
