<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="showTabDialog($event)">
            <md-icon md-menu-origin md-svg-icon="/icons/cog.svg"></md-icon>
</md-button>

<script type="text/ng-template" id="tabDialog.tmpl.html"><md-dialog aria-label="User Profile">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>User Profile</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Settings">
          <md-content class="md-padding">
            <h1 class="md-display-2">User Settings</h1>
            <div layout="column" ng-cloak class="md-inline-form">
              <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                  </md-input-container>
                </div>
              </md-content>
              <md-content layout-padding>
                <div>
                  <form name="userForm">
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Company</label>
                        <input ng-model="user.company">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="user.firstName">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="user.lastName">
                      </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                      <label>Address</label>
                      <input ng-model="user.address.street">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                      <input ng-model="user.address.apt" placeholder="Address 2">
                    </md-input-container>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="user.address.city">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="user.address.state">
                          <md-option ng-repeat="state in states" value="{{state}}">
                            {{state}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="user.address.postalCode" placeholder="12345"
                               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        <div ng-messages="userForm.postalCode.$error" role="alert">
                          <div ng-message="required" class="my-message">You must supply a postal code.</div>
                          <div ng-message="pattern" class="my-message">Warning: Illegitimate Postal Code Detected
                          </div>
                          <div ng-message="md-maxlength" class="my-message">
                            Stop please five digits is fine
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                      <label>Biography</label>
                      <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                  </form>
                </div>
              </md-content>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Previous Orders">
          <md-content>
            <h1 class="md-display-2">Previous Orders</h1>
              <md-list>
                <div class="container">
                  <md-list-item class="secondary-button-padding" ng-repeat="order in orders">
                      <md-icon md-svg-icon="/icons/cart.svg" class="s24"></md-icon>
                      <div class="md-list-item-text" layout="row" layout-align="space-around">
                        <h4>Status: {{order.status.toUpperCase()}}</h4>
                        <h4>Number of Items: {{order.boxes.length}}</h4>
                        <h4>Total Price: ${{order.totalPaid || 0}}</h4>
                        <div>
                          <md-button class="md-primary" ng-click="orderDetail()">Order Detail</md-button>
                        </div>
                      </div>
                  </md-list-item> 
                </div>
              </md-list>
          </md-content>
        </md-tab>
        <md-tab label="Disclaimer">
          <md-content class="md-padding">
            <h1 class="md-display-2">Disclaimer for {{user.fullName}}</h1>
            <h1>Tell her she looks thin.</h1>
            <p>It doesn't look so shiny to me. That's not soon enough! And yet you haven't said what I told you to say! How can any of us trust you? Meh. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p>
            <p>I don't want to be rescued. <strong> Goodbye, cruel world.</strong> <em> Goodbye, cruel lamp.</em> Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords.</p>
            <h2>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</h2>
            <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Oh right. I forgot about the battle. I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him.</p>
            <ol>
            <li>I guess if you want children beaten, you have to do it yourself.</li><li>Who are those horrible orange men?</li><li>OK, if everyone's finished being stupid.</li>
            </ol>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()" target="_blank" md-autofocus>
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="save(user)" style="margin-right:20px;" >
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>