
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Settings">
    <md-content class="md-padding">
      <h1 class="md-display-2">User Settings</h1>
      <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
          </div>
        </md-content>
        <md-content layout-padding>
          <div>
            <form name="userForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input ng-model="user.profile.firstName">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input ng-model="user.profile.lastName">
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.profile.address.street">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Address 2</label>
                <input ng-model="user.profile.address.apt">
              </md-input-container>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>City</label>
                  <input ng-model="user.profile.address.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>State</label>
                  <md-select ng-model="user.profile.address.state">
                    <md-option ng-repeat="state in states" value="{{state}}">
                      {{state}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Postal Code</label>
                  <input name="postalCode" ng-model="user.profile.address.zip" placeholder="12345"
                         required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                  <div ng-messages="userForm.postalCode.$error" role="alert">
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">Warning: Illegitimate Postal Code Detected
                    </div>
                    <div ng-message="md-maxlength" class="my-message">
                      Stop please five digits is fine
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-button ng-click="save()" class = "md-primary" style="margin-right:20px;">Save</md-button>
                <div ng-show="saved">
                  <p class="success-message">Save successful!</p>
                </div>
              </div>
            </form>
          </div>
        </md-content>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="Previous Orders">

          <div style="text-align: center" id='confirmation' ng-if="confNum">
          <br>
          <h2>Thank you for your purchaise!</h2>
          <h4>your order number is <b>{{confNum}}</b></h4>
          <br><br>
          <span>
              <md-button ng-click="">Sign Up!</md-button>
              <md-button ng-click="goHome()">Return to stores</md-button>
          </span>
          </div>
      <md-content flex style="background-color: white;" ng-if="isAuthenticated()">
          <md-card>
              <h2> Orders</h2>
              <div flex></div>
              <md-table-container style="background-color: white;">
                  <table md-table md-progress="promise" style="background-color: white;">
                      <thead md-head md-order="order" md-on-reorder="logOrder">
                          <tr md-row>
                              <th md-column md-order-by="date" mdDesc><span>Date</span></th>
                              <th md-column md-order-by="id"><span>Confirmation #</span></th>
                              <th md-column md-order-by="price"><span>Price</span></th>
                              <th md-column md-order-by="numItems"><span>Num Items</span></th>
                              <th md-column md-numeric md-order-by="status" md-desc><span>Status</span></th>
                          </tr>
                      </thead>
                      <tbody md-body>
                          <tr md-row ng-click="selectRow(order)" ng-class="{rowselectedorange: order.confirmationNum.toString()==orderDetails.confirmationNum.toString()}" ng-repeat="order in allMyOrders | filter: filter.search | orderBy: order">
                              <td md-cell>{{order.date | date: "medium"}}</td>
                              <td md-cell>{{order.confirmationNum}}</td>
                              <td md-cell>{{order.totalPrice | currency: "$"}}</td>
                              <td md-cell>{{order.numItems}}</td>
                              <td md-cell>{{order.status}}</td>
                          </tr>
                      </tbody>
                  </table>
              </md-table-container>
          </md-card>
          <div flex></div>
      </md-content>
      <cart-items cart="orderDetails" editable="false"></cart-items>

  </md-tab>
  <md-tab label="Disclaimer">
    <md-content class="md-padding">
      <h1 class="md-display-2">Disclaimer</h1>
      <h1>Tell her she looks thin.</h1>
      <p>It doesn't look so shiny to me. That's not soon enough! And yet you haven't said what I told you to say! How can any of us trust you? Meh. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p>
      <p>I don't want to be rescued. <strong> Goodbye, cruel world.</strong> <em> Goodbye, cruel lamp.</em> Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords.</p>
      <h2>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</h2>
      <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Oh right. I forgot about the battle. I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him.</p>
      <ol>
      <li>I guess if you want children beaten, you have to do it yourself.</li><li>Who are those horrible orange men?</li><li>OK, if everyone's finished being stupid.</li>
      </ol>
    </md-content>
  </md-tab>
</md-tabs>

