<md-toolbar>
    <div class="md-toolbar-tools">
        <md-menu>
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="/icons/menu.svg"></md-icon>
          </md-button>
          <md-menu-content width="6">
            <md-menu-item>
              <md-button>
                <md-icon md-menu-align-target md-svg-icon="/icons/cart"></md-icon>
                Previous Orders 
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <md-icon md-menu-align-target md-svg-icon="/icons/cart"></md-icon>
                Other Shit 
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <h2>
          <span>LOGO</span>
        </h2>
        <span flex></span>
        <md-button ng-show="!user"ng-click="showAdvanced($event)"   class="md-raised" aria-label="Learn More">
          Login
        </md-button>
        <md-button ng-show="user" ng-click="logout()" class="md-raised" aria-label="Learn More">
          Logout
        </md-button>
        <md-button class="md-icon-button" ng-click="toggleRight()" ng-hide="isOpenRight()" aria-label="Favorite">
            <md-icon md-svg-icon="/icons/cart.svg" style="color: greenyellow;"></md-icon>
        </md-button>

    </div>
</md-toolbar>

<cart></cart>
