<div ng-cloak="" class="tabsdemoStaticTabs" ng-controller="BuildBoxCtrl">
  <md-content>
    <md-tabs class="md-accent buildBox" md-selected="data.selectedIndex" md-align-tabs="top">
      <md-tab id="tab1">
        <md-tab-label>Item One</md-tab-label>
        <md-tab-body>
          View for Item #1 <br/>
          data.selectedIndex = 0;
          <md-button ng-click="previous()">
          Previous
          </md-button>
          <md-button ng-click="next()">
          Next
          </md-button>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Item Two</md-tab-label>
        <md-tab-body>
          View for Item #2 <br/>
          data.selectedIndex = 1;
          <md-button ng-click="previous()">
          Previous
          </md-button>
          <md-button ng-click="next()">
          Next
          </md-button>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Item Three</md-tab-label>
        <md-tab-body>
          View for Item #3 <br/>
          data.selectedIndex = 2;
          <md-button ng-click="previous()">
          Previous
          </md-button>
          <md-button ng-click="next()">
          Next
          </md-button>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<style>
md-tabs.buildBox{
  width: 100%;
  height: 95vh;
}
	.tabsdemoStaticTabs md-tab-content {
  padding: 25px; }
  .tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5; }
  .tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38; }
  .tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA; }
.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }
.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }

</style>