<div layout="column" ng-cloak style="background-color: white">
  <md-content layout-padding style="background-color: white">
    <h2 style="background-color: black" ng-if="!reset">Enter your email to reset your password</h2>
    <form name="forgotPasswordForm" novalidate ng-submit="resetPassword(email)" ng-if="!reset">
      <md-input-container class="md-block">
        <label>Email</label>
        <input required name="email" ng-model="email">
        <div ng-messages="forgotPasswordForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">Submit</md-button>
    </form>
    <md-toolbar class="md-tall md-accent" ng-if="reset">
        <h2 class="md-toolbar-tools">
            <span>Success: Check your email!</span>
        </h2>
    </md-toolbar>
  </md-content>
</div>