<div layout="column" ng-cloak style="background-color: white">
  <md-content layout-padding style="background-color: white">
    <h2 style="background-color: black" ng-if="!reset">Enter a new password</h2>
    <form name="forgotPasswordForm" novalidate ng-submit="updatePassword()" ng-if="!reset">
      <md-input-container class="md-block">
        <label>Password</label>
        <input required name="email" ng-model="user.password">
        <div ng-messages="forgotPasswordForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">Submit</md-button>
    </form>
  </md-content>
</div>