<section layout="row" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Your Cart</h1>
        </md-toolbar>
        <md-list layout-padding>
            <md-card ng-repeat="c in cart.contents">
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{c.product.name}}</h3>
                        <label>Price {{c.product.price}}</label>
                        <label>Quantity {{c.quantity}}</label>
                    </div>
                    <div layout="column">
                        <md-select ng-model="c.quantity" aria-label="quantity" ng-change="updateCart()">
                            <md-option ng-repeat="num in getNums()" ng-value="{{num}}">
                                {{num}}
                            </md-option>
                        </md-select>
                    </div>
                    <div layout="column">
                        <i class="material-icons" ng-click="removeC()">clear</i>
                    </div>
                </md-list-item>
            </md-card>
        </md-list>
        <h2>Total: {{cart.totalToPay}}</h2>
        <md-button style="width:100%;" ui-sref="checkout" ng-click="close()" class="md-raised md-primary">Checkout</md-button>
    </md-sidenav>
</section>
