<section layout="row" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Your Cart</h1>
        </md-toolbar>
        <md-list layout-padding>
            <md-card ng-repeat="boxW in cart.boxes">
                <md-list-item class="md-3-line">
                    <img src="/icons/cart.svg" class="md-avatar" alt="cart">
                    <div class="md-list-item-text">
                        <h3>{{boxW.box[0].name}}</h3>
                    </div>
                    <label>Quantity {{boxW.quantity}}</label>
                    <i class="material-icons" ng-click="addOne()">plus_one</i>
                    <!-- <md-button class="md-icon-button md-accent" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button> -->

                    <!-- <md-input-container style="margin-right: 10px;">
                        <label>Quantity {{boxW.quantity}}</label>
                        <md-select ng-model="boxW.quantity">
                            <md-option ng-repeat="a in range(5)" ng-value="{{a}}">{{a}}</md-option>
                        </md-select>
                    </md-input-container> -->
                </md-list-item>
            </md-card>
        </md-list>
        <h2>Total: {{cart.totalToPay}}</h2>
        <md-button style="width:100%;" ui-sref="checkout" ng-click="close()" class="md-raised md-primary">Checkout</md-button>
    </md-sidenav>
</section>
