<div layout="row" ng-cloak class="md-inline-form">
    <md-content style="height:80vh;" flex layout-padding>
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Shipping Info</h2>
            </div>
        </md-toolbar>
        <form name="shippingForm" novalidate>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>First name</label>
                    <input ng-model="shipping.firstName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input ng-model="shipping.lastName">
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="shipping.address">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="shipping.address2" placeholder="Address 2">
            </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>City</label>
                    <input ng-model="shipping.city">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>State</label>
                    <md-select ng-model="shipping.state">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="shipping.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                    <div ng-messages="shippingForm.postalCode.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                        <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                        </div>
                        <div ng-message="md-maxlength" class="my-message">
                            Don't use the long version silly...we don't need to be that specific...
                        </div>
                    </div>
                </md-input-container>
            </div>
        </form>
        <div ng-hide="shippingVis" class="overlay"></div>
    </md-content>
    <div flex>
        <md-content style="height:80vh;" flex layout-padding>
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Billing Info</h2>
                </div>
            </md-toolbar>
            <form name="billingForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block">
                        <label>First name</label>
                        <input ng-model="billing.firstName">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input ng-model="billing.lastName">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="billing.address">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="billing.address2" placeholder="Address 2">
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block">
                        <label>City</label>
                        <input ng-model="billing.city">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>State</label>
                        <md-select ng-model="billing.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="billing.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        <div ng-messages="billingForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>
        </form>
        <div ng-hide="billingVis" class="overlay"></div>
    </div>
    <div flex>
        <md-content style="height:80vh;" flex layout-padding>
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Review</h2>
                </div>
            </md-toolbar>
            <cart-items cart="cart"></cart-items>
            <div ng-hide="reviewVis" class="overlay"></div>
        </md-content>
    </div>
</div>
<div layout="row" ng-cloak class="md-inline-form">
    <div flex>
        <md-button style="width:100%;" ng-show="shippingVis" ng-click="showBilling()" class="md-raised md-primary">Continue</md-button>
    </div>
    <div flex>
        <md-button style="width:25%;" ng-show="billingVis" ng-click="backToShipping()" class="md-raised md-primary">Back</md-button>
        <md-button style="width:60%;" ng-show="billingVis" ng-click="showReview()" class="md-raised md-primary">Continue</md-button>
    </div>
    <div flex>
    <md-button style="width:25%;" ng-show="reviewVis" ng-click="backToBilling()" class="md-raised md-primary">Back</md-button>
        <md-button style="width:60%;" ng-show="reviewVis" ng-click="placeOrder()" class="md-raised md-primary">Place Order</md-button>
    </div>
</div>
<style>
.overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
}
</style>
