<md-content id="home">
    <div id="slider-full-width">
        <div class="container">
            <h2>Find the the perfect gift</h2>
        </div>
    </div>
    <div layout="row">
        <md-card>
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="store in stores" md-item-text="store.name" placeholder="Search for a store">
                <md-item-template>
                    <span md-highlight-text="searchText">{{store.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
        </md-card>
    </div>
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile class="green" md-rowspan="1" md-colspan="2" md-colspan-sm="1" ng-repeat="store in stores  | filter:searchText" ng-click="goToStore(store)">
            <h3>Store Headline</h3>
            <md-grid-tile-footer layout="row">
                <h3>{{store.name}}</h3>
                <!-- <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon><i class="material-icons">favorite</i></md-icon>
                </md-button> -->
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
        
    <!-- <div flex-xs flex-gt-xs="30" layout="column">
      <md-card ng-repeat="store in stores | filter:searchText">
        <md-card-title ng-click="goToStore(store)">
          <md-card-title-text>
            <span class="md-headline">{{store.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-sm card-media" ng-click="goToStore(store)"><img src={{store.pic}} height="100%"  width="100%" /></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon><i class="material-icons">favorite</i></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div> -->
</md-content>

