<md-toolbar>
	<div class="md-toolbar-tools" style="width:50vw">
	  <h2>Add Product</h2>
	  <span flex></span>
	  <md-button class="md-icon-button" ng-click="cancel()">
	    <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
	  </md-button>
	</div>
</md-toolbar>
<md-dialog-content style="max-height:810px; ">
	<div style="margin:3%">
		<div layout-gt-xs="row">
	    <md-input-container class="md-block" flex-gt-xs>
	      <h4>Name</h4>
	      <input aria-label="Name" ng-model="name">
	    </md-input-container>
	    <md-input-container class="md-block" flex-gt-xs>
	      <h4>Price</h4>
	      <input aria-label="Price" ng-model="price">
	    </md-input-container>
	  </div>
	  <div layout-gt-xs="row">
	    <md-input-container class="md-block" flex-gt-xs>
	      <h4>Image URL</h4>
	      <input aria-label="Image URL" ng-model="imgUrl">
	    </md-input-container>
	    <md-input-container class="md-block" flex-gt-xs>
	      <h4>Tags <small>separated by spaces</small><h5>
	      <input aria-label="Tags" ng-model="tags">
	    </md-input-container>
	  </div>
	  <md-button class="md-raised md-primary" ng-click="saveProduct()">Save Product</md-button>
  </div>
</md-dialog-content>