<div>
  <div style="width:50%;margin-left:10%;">
    <h1>Edit Store</h1>
    <form name="userForm">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label><strong>Store Name</strong></label>
          <input ng-model="store.name">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Picture Url:</label>
          <input ng-model="store.pic">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Headline</label>
        <input ng-model="store.headline">
      </md-input-container>
    <md-button class="md-raised md-primary" ng-click="saveStore(store)">Save</md-button>
    </form>
    <div layout-gt-xs="row">
    <md-button class="md-primary md-raised" ng-click="addQuestion($event)">Add Question</md-button>
    <md-button class="md-primary md-raised" ng-click="manageQuestion($event)">Manage Questions</md-button>
    </div>
<!--     <div>
      <h2>Manage Questions</h2>
    </div>
    <div style="margin:3%">
      <table style="width:20em">
        <tr ng-repeat="question in store.questions">
          <td>{{question.text}}</td>
          <td><md-icon md-svg-icon="/icons/cancel.svg" aria-label="question" ng-click="removeQuestion(question)"></md-icon></td>
      </table>
    </div> -->
  </div>

</div>