<md-content id="store">
    <div id="slider-full-width-store">
        <div class="container">
            <h2>Looking for the perfect gift-box?</h2>
            <div id="button-bg">
                <md-button ui-sref="storeQuestions" class="md-raised md-primary">Get Started</md-button>
            </div>
        </div>
    </div>
</md-content>

<style>
#slider-full-width-store {
    max-width: 100%;
    height: 70vh;
    background: url('http://lorempixel.com/1200/800/abstract') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
}

#slider-full-width-store h2 {
    color: #efefef;
    margin-top: -20px;
    font-size: 25.29pt;
    padding-top: 40vh;
    text-shadow: 1px 1px 1px #000;
}
</style>

<div class="tabsdemoStaticTabs">
    <md-content>
        <md-tabs class="md-accent storeQuestions" md-selected="data.selectedIndex" md-align-tabs="top">
            <md-tab ng-repeat="question in storeInfo.questions" id="tab1">
                <md-tab-label>Question {{$index+1}}</md-tab-label>
                <md-tab-body>
                    <div layout-align="center" layout="row">
                        <h2>{{question.text}}</h2>
                    </div>
                    <br>
                    <div layout-align="center" layout="row">
                    <md-radio-group ng-model="data.group3">
                        <md-radio-button ng-repeat="answer in question.answers" ng-value="answer.value" aria-label="{{answer.text}}">
                            <!-- <md-icon md-svg-icon="icons/cart.svg"></md-icon><br> -->
                           {{answer.text}}
                        </md-radio-button>
                    </md-radio-group>
                    </div><br>
                    <div layout-align="center" layout="row">
                        <div ng-hide="$first" layout="column">
                            <md-button ng-click="previous()">
                                Previous
                            </md-button>
                        </div>
                        <div ng-hide="$last" layout="column">
                            <md-button ng-click="next()">
                                Next
                            </md-button>
                        </div>
                        <div ng-show="$last" layout="column">
                            <md-button ng-click="previous()">
                                Submit
                            </md-button>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
